body {
  font-family:  'Gruppo', sans-serif;
background-color: #000220;
padding: 0;
margin: 0;
}


header {
height: 450px;
width: 100%;
border-radius: 25px;
}


.container2 {
background-image: url("bgheader.jpg");
background-size: 100vw;
height: 50vw;
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
}

.headerstart{
display: flex;
justify-content: center;
align-item: center;
margin: 10px;
height: 250px;

}


@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

.headerstart p{
color: white;
font-size: 5vw;
text-align: left;
}

.info3 {
display: flex;
  align-items: center;
  justify-content: center;  
  width: 30%;
  height: 50px;
  background-color: rgba(255, 255, 255, .15);  
  border-radius: 55px;
border: 2px solid white;
  margin: 5px;
  backdrop-filter: blur(20px);
  
}

.info3 a{
font-size: 3vw;
text-decoration: none;
color: white;
}



h1{
margin: 10px;
	float: right;
	top: 0;
  color: white;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  list-style: none;
}


.right{
text-align: left;
float: left;
}


.right a {
color:  white;
}

li a {
margin: 10px 10px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
font-size: 1.5vw;
} 

li a:hover {
color: white;
background-color: #111154;
border-radius: 35px;
}



  
nav {
top: 0;
position: sticky;
}


p {
  color: white;
}



.info1{
width: 70%;
height: 350px;
background-color: white;
border-radius: 35px;
}



.container {
margin-top: 5%;	
  display: flex;  
  justify-content: center; 
  align-items: center;
}



.filterCard {
  background-color: #111154;
  width: 45%;
  height: 500px;
  margin: 10px;
  border-radius: 25px;
transition: transform .5s;
	display: none;
flex-wrap: wrap;
justify-content: center;
  
  
}

.card-image {
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}


.card-image1 {
background-image: url("article1.jpg");
background-size: 100%;
background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}

.card-image2 {
background-image: url("IMG_0851.jpeg");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}

.card-image3 {
background-image: url("IMGP3.jpeg");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}

.card-image4 {
background-image: url("1782.jpeg");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}


.card-image5 {
background-image: url("IMG_0885.png");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}


.card-image6 {
background-image: url("IMG_0909.webp");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}

.card-image7{
background-image: url("IMG_0926.jpeg");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}
.card-image8{
background-image: url("IMG_0937.jpeg");
background-size: 100%;
	background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}


.card-image9{
background-image: url("IMG_0966.png");
background-size: 100%;
background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}



.card-image10{
background-image: url("IMG_1011.png");
background-size: 100%;
background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}


.card-image11{
background-image: url("IMG_1078.jpeg");
background-size: 100%;
background: no repeat;	
  background-color: #686C6D;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  padding-left: 10px;
}




.filterCard p {
  padding: 10px;
	padding-top: 10px;
color:white;
}



h2 {
font-size: 1.5vw;
padding: 10px;
color: white;
}


.filterCard a {
font-size: 30px;
color: white;
display: block;
float: right;
text-decoration: none;
margin: 15px;
}



.filterCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}



footer {
border: 1px solid white;
border-radius: 35px;
margin-top: 25%;
width: 100%;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
bottom: 0;
	
}


.show {
  display: block;
}

/* Style the buttons */
.btn {
	margin: 10px;
  border-radius: 35px;
  outline: none;
  padding: 16px 28px;
  background-color: #f1f1f1;
  cursor: pointer;
font-size: 15px;
}


/* Add a light grey background on mouse-over */
.btn:hover {
  background-color:#393F86;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #393F86;
  color: white;
}

.filterBtns {
margin-top: 45%;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

